@font-face {
    font-family: "aspace-font";
    src: url(./font/a-space/a-space.italic.otf);
  }
@font-face {
font-family: "death-star";
src: url(./assets/fonts/death-star/DeathStar.otf);
}
@font-face {
font-family: "star-burst";
src: url(./assets/fonts/starburst/Starburst.ttf);
}
.logo {
    font-size: 100px;
    padding-bottom: 5px;
}
.nav-background{
background-color: rgb(79, 9, 82);
}
/* * {
    box-sizing: border-box;
} */
.body {
color: white;
font-family: aspace-font;
background-color: black;
}

.header-align {
    text-align: center;
    font-size: 5rem;
    color: rgb(241, 188, 72);
}
.card-image-back {
    height: auto;
    width: auto;
}
/* .card-row {
    padding-left: 20px;
    padding-right: 20px;
} */
body {
    background-image: url("./images/hdwall1.jpg");
    background-size: cover !important;
    min-height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
/* 
  .card-image:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: -webkit-transform 200ms ease-in;
    transition: transform 200ms ease-in;
    transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
  } */
  /* https://stackoverflow.com/questions/26923336/how-to-create-card-hover-style-effect-like-google-now-cards */
.game-info {
    text-align: center;
    font-size: 40px;
}
  .rnd-corner {
  
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
      
  }
  .card-image {
      opacity: 0.95;
      transition: 0.5s;
      /* background-color: black; */

  }
  .card-image:hover {
    -webkit-animation: anim ease-out 0.5s 1;
    animation: anim 0.5s 1;
    transform: translateZ(100px);
    cursor: pointer;
    box-sizing: content-box 10px;
    box-shadow: 0 20px 20px white;
    /* box-shadow: 50px white; */
    /* box-shadow: 10px white; */
    opacity: 1;
    /* border: black 2px solid; */
    position: relative;
    /* transform: translateY(1px); */
    transform: scale(1.1);
   
      
   /* padding-left: 2px;
   padding-right: 2px;
   padding-bottom: 2px;
   padding-top: 2px; */
    /* background-color: black; */
  }

