.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
@media only screen and (max-width: 601px) {
  .planet-game {
    /* width: 85%; */
    width: 300px;
    height: 150px;
  }
  .header-align{
    font-size: 40px;
  }
  .nav-background{
    width: 601px;
  }
  body{
    width: 600px;
  }
}
@media only screen and (min-width: 602px) {
  .planet-game {
    /* width:50%; */
    /* align-items: center; */
    /* padding-left: 100px; */
    margin-left: 25%;
  }
  .row {
    margin-left: 25%;
  }
}


@font-face {
    font-family: "aspace-font";
    src: url(./font/a-space/a-space.italic.otf);
  }
@font-face {
font-family: "death-star";
src: url(./assets/fonts/death-star/DeathStar.otf);
}
@font-face {
font-family: "star-burst";
src: url(./assets/fonts/starburst/Starburst.ttf);

}

@font-face {
  font-family: "starcraft";
  src: url(./font/starcraft/starcraft1.ttf);
  
  }
 
.btn-small {
  background-color: #1A237E;
  border: solid white 1px;
} 


.logo {
    font-size: 100px;
    padding-bottom: 5px;
}
.nav-wrapper{
/* background-color: rgb(79, 9, 82) !important; */
background-color: #1A237E !important;

/* background-size: contain;
background-position: center;
background-repeat: no-repeat; */
}
.side-nav{
  background-color: #1A237E !important;
}

.body {
color: white;
font-family: starcraft;
background-color: black;
}

.header-align {
    text-align: center;
    /* font-size: 5rem; */
    /* color: rgb(241, 188, 72); */
    color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* width: 100%;
    height: auto; */
}
/* .card-image-back {
    height: auto;
    width: auto;
} */
/* .card-row {
    padding-left: 20px;
    padding-right: 20px;
} */
body {
    background-image: url("./images/hdwall1.jpg");
    background-size: cover !important;
    min-height: 100vh;
    background-size: contain;
    background-position: center;
    /* background-repeat: no-repeat; */
    margin-bottom: 250px;

    
  }

  .game-container {
    /* margin-left: 20%; */
    
  }
  .matches-flips {
    text-align: center;
    font-size: 15px;
  }
  .planet-game {
    width: 550px;
    height: 400px;
    margin: auto;
    display: flex;
   flex-wrap: wrap; 
    /* perspective: px; */
  }
  
  .aCard:hover {
    -webkit-animation: anim ease-out 0.5s 1;
    animation: anim 0.5s 1;
    transform: translateZ(100px);
    cursor: url('./images/Saturn-icon.png'), auto;
    box-sizing: content-box 10px;
    box-shadow: 0 30px 30px white;
    /* box-shadow: 50px white; */
    /* box-shadow: 10px white; */
    opacity: 1;
    /* border: black 2px solid; */
    position: relative;
    /* transform: translateY(1px); */
    transform: scale(1.1);
   
      
  }
  /* https://stackoverflow.com/questions/26923336/how-to-create-card-hover-style-effect-like-google-now-cards */


.aCard {
  width: calc(25% - 10px);
  height: calc(35% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  
}

.aCard:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.aCard.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: rgb(59, 69, 73);
  backface-visibility: hidden;
  background-image: url("./images/cardback.jpg");
  /* border: rgb(235, 201, 13) solid 1px; */
  border: white  solid 1px;
  
}

.front-face {
  transform: rotateY(180deg);
}

.card-padding {
  padding: 4px;
  
}
.game-info-style {
  background-color: #1A237E;
  /* border: solid gold 1px; */
  border: solid white 1px;
  margin: 0px;
  padding: 0px;
  background-image: url("./images/hdwall1.jpg");
  /* font-size: 5px; */
}
.matches-border{
border-right: none;
}
.flip-border{
border-left: none;  
}
.modal-style{
  background-image: url("./images/matches-flips.jpg");
    background-size: cover !important;
    /* min-height: 100vh; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.style-modal-btn{
  margin: 8px;
  background-color: #1A237E;
  color: white;
  border: white solid 1px;
}
.style-modal-btn:hover{
  background-color: rgb(44, 58, 211);
}
.btn-hoover-style:hover{
  background-color: rgb(44, 58, 211);
}

