@font-face {
  font-family: "starcraft";
  src: url(./fonts/starcraft1.ttf);
}

body {
  color: white;
  font-family: starcraft;
  background-color: black;
  background-image: url("./imgs/backgroundm.jpg");
  background-size: cover !important;
  min-height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  text-align: center;
  background-color: cornflowerblue;
}

h2 {
}

p {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px;
}

img {
  flex: auto;
}
