<<<<<<< HEAD
div {
  background-color: black;
}

h1 {
  font-family: deathstar, Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  text-decoration-color: cornflowerblue;
  text-align: center;
  background-color: cornflowerblue;
}
=======
.header-align {
    text-align: center;
}
>>>>>>> a8cffa089df542eae359c17c46462b9de0aec6c6
