HTML, body {
background-image: url(/planetInfo/assets/images/wallpaper.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

header{
    text-align: center;
    color: white;
}

h1{
    margin-top: 0;
    
}
#header-p{
    margin: 0;
    padding-bottom: 5px;
    border-top: 10px white;
}

.planet-container{
    margin-top: 0px;
    padding-top: 20px;
}
.card{
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 15px;
    border: transparent;
    box-shadow: none!important;
}

.card-image{
    width: auto;
    height: auto;
    /* object-fit: cover; */
    
}

.planet-container1 {
    
}

/* CSS for card flip */
.flip-container {
    perspective: 1000px;
    display: inline-block;
}
    /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }
.flip-container, .front, .back {
    width: 400px;
    height: 400px;
}
/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}