@font-face {
    font-family: "starcraft";
    src: url(/planetInfo/assets/font/starcraft.ttf);
    }

HTML, body {
background-image: url(/planetInfo/assets/images/background.jpg);
background-size: cover !important;
min-height: 100vh;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
font-family: starcraft;
}

nav{
    background-color: transparent;
}

header{
    text-align: center;
    color: white;
    padding-top: 2.5%;
}

h1{
    margin-top: 0;
    
}
#header-p{
    margin: 0;
    padding-bottom: 5px;
    border-top: 10px white;
}

.planet-container{
    margin-top: 0px;
    padding-top: 20px;
}
.card{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 15px;
    border: transparent;
    box-shadow: none!important;
    /* text-align: center; */
}

@media screen and (max-width: 990px) {
    .resizeimg {
      height: auto;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .resizeimg {
      width: auto;
      height: 350px;
    }
  }

.card-image{
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 350px;
    
}

.planet-container1 {
    
}

/* CSS for card flip */
.flip-container {
    perspective: 1000px;
    display: inline-block;
}
    /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }
.flip-container, .front, .back {
    width: 400px;
    height: 400px;
}
/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;   
    font-weight: bold;
}